# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Node/React
node_modules/
dist/
build/
.eslintcache

# Databases
*.db
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Agentic / AI Logs
.gemini/
